<div class="h-screen flex items-center justify-center bg-gray-400">
    <div class="bg-white p-10 rounded-lg w-2/3">
        <form method="GET" name="formulario" action="">         
        <div class="mb-3 mt-5">
                <button class="rounded border w-full focus:outline-none focus:ring focus:ring-gray-400 px-2 py-3 text-white bg-indigo-500 hover:bg-indigo-400 " id="Fixture" type="submit"> Fixture </button>
        </div>
        </form>
        <form method="GET" name="formulario" action="/user/posiciones">
            <div class="mb-3 mt-5">
                <button class="rounded border w-full focus:outline-none focus:ring focus:ring-gray-400 px-2 py-3 text-white bg-indigo-500 hover:bg-indigo-400 " id="Posiciones" type="submit"> Posiciones </button>
            </div>
        </form>
   </div>
</div>