<div class="h-screen flex items-center justify-center bg-gray-400">
    <div class="bg-white p-10 rounded-lg w-2/3">
        <form method="POST" name="formulario" action="/user/registro">         
        <div class="mb-3">
            <label htmlFor="text">Nombre</label>
            <div>
                <input class="rounded border px-2 border-gray-400 w-full focus:outline-none focus:ring focus:ring-gray-400"  id="nombre" name="nombre" type="text">
            </div>
        
        </div>
        <div class="mb-3">
            <label>Correo Electronico</label>
            <div>
                <input class="rounded border px-2 border-gray-400 w-full focus:outline-none focus:ring focus:ring-gray-400" id="correo" name="correo" type="email">
            </div>
        </div>
        <div class="mb-3">
            <label>Contraseña</label>
            <div>
                <input class="rounded border px-2 border-gray-400 w-full focus:outline-none focus:ring focus:ring-gray-400" id="contraseña" name="contrasena"type="password">
            </div>
            
        </div>
        <div class="mb-3">
            <label>Nombre Equipo</label>
            <div>
                <input class="rounded border px-2 border-gray-400 w-full focus:outline-none focus:ring focus:ring-gray-400" id="equipo" name="equipo"type="text">
            </div>
        </div>
        <div class="hidden">
            <%= estado %>
        </div>

        <% if (!estado){%>
        <div class="mb-5 bg-red-500 rounded flex items-center" id="error" >
            <svg class="w-6 h-6 ml-5" viewBox="0 0 24 24">
                <path fill="currentColor" d="M13 14H11V9H13M13 18H11V16H13M1 21H23L12 2L1 21Z" />
            </svg> 
                <p class="grid-cols-2 ml-5"> <b>Error</b> Correo Electronico o Equipo ya registrado en el torneo </p>
        </div>
        <% } %>
        <div class="mb-3 mt-5">
                <button class="rounded border w-full focus:outline-none focus:ring focus:ring-gray-400 px-2 py-3 text-white bg-indigo-500 hover:bg-indigo-400 " id="Registrarse" type="submit"> Registrarse </button>
        </div>
        </form>
   </div>
</div>
<script src="/js/registro.js"></script>

