<!--
  --parameters:
    @ronda: Ronda (includes Partida[] as `partidas`)
-->
<div class="mx-2 my-3">
  <form action="#" method="POST">
    <%- include('../partials/lista-partidas.ejs') %>
    <button type="" class="mt-4">Grabar</button>
  </form>
</div>
