<div>
    <!-- este link deberia llevar a la pagina de creacion de usuario -->
    <a href="#" class="px-2 py-2 text-white flex items-center rounded bg-indigo-500 hover:bg-indigo-400 focus:outline-none" type="submit">
      <span>Crear nuevo usuario</span>
      <svg class="h-6 w-6" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
      </svg>
    </a>
</div>
