<header class="bg-blue-500 h-16">
    <figure>
        <img src="/img/adm.png" class=" h-16 w-16 re left-96 top-0 " >
    </figure>
    <h1 id="titulo" class="text- text-center text-3xl
    font-mono font-extrabold inset-0  absolute left-96 md:inset-6-3"
    >ADMINISTRADOR</h1>

    <br>
    <br>
</header>