<div id="lista-equipo" class="space-y-2">
  <div v-for="equipo in equipos" :key="equipo.nombre" class="border-gray-300 border-2 px-3 py-2 space-y-3">
    <div class="flex justify-between">
      <span class="cursor-default text-lg text-gray-600">
        {{ equipo.nombre }}
      </span>
      <div>
        <span v-if="equipo.activo" class="px-1 py-1 bg-green-500 text-white rounded-md cursor-default">activo</span>
        <span v-else class="px-1 py-1 bg-red-500 text-white rounded-md cursor-default">inactivo</span>
      </div>
    </div>
    <div class="flex justify-end">
      <button @click="equipo.showIntegrantes = !equipo.showIntegrantes" class="border-2 border-gray-300 px-1 py-2 rounded focus:outline-none text-gray-600 hover:text-gray-800 hover:border-gray-600 relative">
        <span v-if="!equipo.showIntegrantes">
          Ver Integrantes
        </span>
        <span v-else>Ocultar Integrantes</span>


        <!-- Lista de integrantes -->
        <div v-show="equipo.showIntegrantes" class="absolute bg-white rounded-md shadow-lg overflow-hidden top-12 z-10">
          <div v-for="integrante in equipo.integrantes" :key="integrante" class="flex items-center px-2 py-1 hover:bg-gray-300">
            <span>
              {{ integrante }}
            </span>
          </div>
        </div>
      </button>
    </div>
  </div>
  <script src="/js/lista-equipos.js"></script>
</div>

