<div class="space-y-2">
  <% if (ronda.partidas.length > 0) { %>
  <% ronda.partidas.forEach(function(partida) { %>
  <div class="flex flex-col border-2 border-gray-300 px-2 py-2">
    <div class="grid grid-cols-12">
      <span class="col-span-5 text-gray-800 font-medium">Equipo <%= partida.equipo_A %></span>
      <span class="col-span-2 justify-self-center text-gray-700">VS</span>
      <span class="col-span-5 justify-self-end text-gray-800 font-medium">Equipo <%= partida.equipo_B %></span>
    </div>
    <div class="flex justify-end items-center mt-2">
      <select class="rounded-md text-gray-700 focus:border-0 focus:ring-indigo-500 focus:ring-1" required>
        <option value="" selected>Seleccionar ganador</option>
        <option value="1">Equipo <%= partida.equipo_A %></option>
        <option value="2">Equipo <%= partida.equipo_B %></option>
      </select>
    </div>
  </div>
  <% }) %>
  <% } %>
</div>
