<!--
  --parameters:
    @equipos - Equipo[]
-->
<div class="space-y-2">
  <% equipos.forEach(function(equipo) { %>
  <div class="border-gray-300 border-2 px-3 py-2 space-y-3">
    <div class="flex justify-between items-center">
      <span class="cursor-default text-lg text-gray-600 truncate">
        <%= equipo.nombre %>
      </span>
      <div>
        <% if (equipo.torneo_equipo.estado) { %>
        <span class="px-1 py-1 bg-green-500 text-white rounded-md cursor-default">activo</span>
        <% } else { %>
        <span class="px-1 py-1 bg-red-500 text-white rounded-md cursor-default">inactivo</span>
        <% } %>
      </div>
    </div>
    <div class="flex justify-end">
      <button class="border-2 border-gray-300 px-1 py-1 rounded focus:outline-none text-gray-600 hover:text-gray-800 hover:border-gray-600 relative toggle-integrantes">
        <span class="text-sm toggle-label">Ver Integrantes</span>

        <!-- Lista de integrantes -->
        <div class="hidden bg-white w-full rounded-md shadow-lg overflow-hidden top-10 z-10 integrantes">
          <% equipo.lista_integrantes.forEach(function(integrante) { %>
          <div class="flex items-center px-2 py-1 hover:bg-gray-300">
            <span>
              <%= integrante %>
            </span>
          </div>
          <% }) %>
        </div>
      </button>
    </div>
  </div>
  <% }) %>
  <script src="/js/lista-equipos.js"></script>
</div>

