<div>
  <nav class="bg-indigo-500 flex items-center px-2 py-2 justify-between">
    <div class="flex items-center">
      <button type="button" class="md:hidden focus:outline-none toggle-drawer">
        <svg class="w-6 h-6 text-white" viewBox="0 0 24 24">
          <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
      </button> 
      <a href="/" class="ml-2 text-lg font-medium text-white">E-Sport</a>
    </div>
    <!-- <div class="hidden sm:flex items-center space-x-2"> -->
    <!--   <a class="px-2 py-1 bg-indigo-800 text-white rounded font-medium focus:outline-none hover:bg-indigo-600" href="/user/registro">Registrarse</a> --> 
    <!--   <a class="px-2 py-1 bg-indigo-800 text-white rounded font-medium focus:outline-none hover:bg-indigo-600" href="/login">Iniciar Sesion</a> --> 
    <!-- </div> -->
  </nav>
</div>
<script src="/js/navbar.js"></script>
