<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/index.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
  </head>
  <body>
    <div>
    <%- include('../partials/navbar.ejs') %>

    <div class="mx-2 my-3">
      <%- body %>
    </div>
    <%- script %>
    </div>
  </body>
</html>
